
body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
flex: 1;
margin: 0;
flex-direction: column;
flex-wrap:nowrap;
height: 100vh;
}

/*  shared colours of text */
.text_light {
  color: #f9f9f9;
}

/* Header Section */
.header,
 .footer {
  background-color: #1f2937;
  padding: 28px 42px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

}

.logo {
font-size: 24px;
font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0; 
  gap: 24px;
  }

a {
  text-decoration: none;
  color:#f9f9f9;
  }

/* Section 1 */



.container_1 {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.box_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 228px; 
  padding-top: 116px;
  padding-bottom: 116px;
  flex-wrap:wrap;
  }

.content_1 {
  display: flex;
  flex-flow: column wrap;
  width: 450px;
  gap: 16px;
}
.title_1 {
font-size: 48px;
font-weight: bolder;
}

.subtext_1 {
  font-size: 18px;
  color: #E5E7EB;
  
}

.placeholder {
  Width: 300px;
  height: 200px;
  background-color: rgb(51, 54, 107);
}

button {
background: #3882f6;
color: #f9f9f9;
border: none;
border-radius: 8px;
padding: 8px 16px;
font-size: 18px;
}

/* Section 2 */

.container_2 {
 padding-top: 64px;
 padding-bottom: 116px;

}

.box_2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 64px
}

.title_2 {
  font-weight:bolder;
  font-size: 36px;
  color:#1f2937
}




.picture_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
}



.picture_box {
  border-style: solid;
  width: 150px;
  height: 150px;
  border-color:#3882f6;
  border-radius: 12px;
  }

.content_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content:center;
  gap: 64px;
  text-align: center;
}

/* Section 3 */

.container_3 {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

.content_3 {
  display: flex;
  flex-flow: column;
  max-width: 800px;
  padding:
  
  }

.quote {
  font-size: 36px;
  font-family: "light italic";
  
  }

  .author { 
    text-align: end;
    font-weight:bold;
    font-size: 24px;
    padding-right: 64px;
  }


